@import "./reset.scss";
#app {
  width: 100%;
  height: 100%;
}
html,
body {
  width: 100%;
  min-width: 1200px;
  height: 100%;
  font-family: Sen, sans-serif;
  overflow-x: scroll;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
